<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking</title>
	<meta charset="utf-8"/>
	<style>
		.errorMsg {
			color: #ce5858;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="bootstrap-4.5.1-dist/css/bootstrap.min.css">
</head>
<body>
	<br/><br/>
	<div class="row">
		<div class="col-lg-7"></div>
		<div class="col-lg-2">
			<button class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#registerModal">Registration</button>

		</div>
		<div class="col-lg-2">
			<button type="button" class="btn btn-outline-primary btn-block"
					data-toggle="modal" data-target="#loginModal">
				Log in
			</button>
		</div>
	</div>

	<div class="modal fade" id="loginModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Log in</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"
					v-on:click="resetValidation">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<small class="errorMsg">{{userErr}}</small>
						<input id="user" type="text" class="form-control" placeholder="username"
							   data-toggle="tooltip" title="Enter your username" data-placement="right"
							   v-on:focusout="requiredUsername" v-on:keydown="requiredUsername"
							   v-model="user.username">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{passErr}}</small>
						<input id="pass" type="password" class="form-control" placeholder="password"
							   data-toggle="tooltip" title="Enter your password" data-placement="right"
							   v-on:focusout="requiredPassword" v-on:keydown="requiredPassword"
							   v-model="user.password">
					</div>
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox"> Remember me
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
							v-on:click="fetchUser"
							v-bind:disabled="user.username == '' || user.password == ''">Log in</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
							v-on:click="resetValidation">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="registerModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"
							v-on:click="resetValidation">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<small class="errorMsg">{{firstNameErr}}</small>
						<input id="firstName" type="text" class="form-control" placeholder="first name"
							   data-toggle="tooltip" title="Enter your first name" data-placement="right"
							   v-on:focusout="reguiredFirstName" v-on:keydown="reguiredFirstName"
							   v-model="user.firstName">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{lastNameErr}}</small>
						<input id="lastName" type="text" class="form-control" placeholder="last name"
							   data-toggle="tooltip" title="Enter your last name" data-placement="right"
							   v-on:focusout="requiredLastName" v-on:keydown="requiredLastName"
							   v-model="user.lastName">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{sexErr}}</small>
						<select id="sex" type="text" class="form-control"
							   v-on:focusout="requiredSex" v-on:keydown="requiredSex"
							   v-model="user.sex">
							<option value="" disabled selected>select sex</option>
							<option value="MALE">male</option>
							<option value="FEMALE">female</option>
							<option value="OTHER">other</option>
						</select>
					</div>
					<div class="form-group">
						<small class="errorMsg">{{userErr}}</small>
						<input id="usernameRegister" type="text" class="form-control" placeholder="username"
							   data-toggle="tooltip" title="Enter your username" data-placement="right"
							   v-on:focusout="requiredUsername" v-on:keydown="requiredUsername"
							   v-model="user.username">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{passErr}}</small>
						<input id="passwordRegister" type="password" class="form-control" placeholder="password"
							   data-toggle="tooltip" title="Enter your password" data-placement="right"
							   v-on:focusout="requiredPassword" v-on:keydown="requiredPassword"
							   v-model="user.password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
							v-on:click="registerUser"
							v-bind:disabled="user.username === '' || user.password === '' || user.firstName ==='' || user.lastName === '' || user.sex === '' ">Register</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
							v-on:click="resetValidation">Close</button>
				</div>
			</div>
		</div>
	</div>

	<br/>
	<br/>
	<div class="bg-primary" id="search">
		<h1 class="p-4 text-light">Browse</h1>
		<div class="p-4 bg-light" style="border-radius: 25px">
			<div class="input-group">
				<input type="date" class="form-control"
					   data-toggle="tooltip" title="When is your arrival date?" data-placement="top">
				<input type="date" class="form-control"
					   data-toggle="tooltip" title="When is your returning date?" data-placement="top">
				<input type="text" class="form-control" placeholder="location"
					   data-toggle="tooltip" title="What country or city are you traveling to?" data-placement="top">
				<input type="number" min="0" class="form-control" placeholder="no of guests"
					   data-toggle="tooltip" title="How many of you is coming?" data-placement="top">
				<button class="btn btn-outline-info"
						data-toggle="tooltip" title="Show more filters" data-placement="top"
						v-bind:class="{invisible : moreFilters}" v-on:click="showMoreFilters">More</button>
				<button class="btn btn-primary"
						v-bind:class="{invisible : moreFilters}">Search</button>
			</div>
			<div class="input-group" v-bind:class="{collapse : !moreFilters}">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="number" min="0" class="form-control" placeholder="max price"
					   data-toggle="tooltip" title="What is a maximal price you're willing to pay?" data-placement="bottom">
				<div class="input-group-append">
					<span class="input-group-text">.00</span>
				</div>
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="number" min="0" class="form-control" placeholder="min price"
					   data-toggle="tooltip" title="What is a minimal price you're willing to pay?" data-placement="bottom">
				<div class="input-group-append">
					<span class="input-group-text">.00</span>
				</div>
				<input type="number" min="0" class="form-control" placeholder="max rooms"
					   data-toggle="tooltip" title="How many rooms do you need at the most?" data-placement="bottom">
				<input type="number" min="0" class="form-control" placeholder="min rooms"
					   data-toggle="tooltip" title="How many rooms do you need at the least?" data-placement="bottom">
				<button class="btn btn-outline-info"
						data-toggle="tooltip" title="Show less filters" data-placement="top"
						v-on:click="showLessFilters">&nbspLess&nbsp</button>
				<button class="btn btn-primary">Search</button>
			</div>
		</div>
		<br/>
		<br/>
	</div>

	<div class="text-light" style="background-color: orangered">
		<h1 class="p-4">Trending</h1>
		<div class="card-group pl-2 pr-2 pb-5 overflow-auto">
			<div class="card">
				<img class="card-img-top" src="pics/kim-kardashian.jpg" alt="Card image cap">
				<div class="card-body text-primary">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="pics/kim-kardashian.jpg" alt="Card image cap">
				<div class="card-body text-primary">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="pics/kim-kardashian.jpg" alt="Card image cap">
				<div class="card-body text-primary">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vue.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/toast.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap-4.5.1-dist/js/bootstrap.min.js"></script>
	<script src="login.js"></script>
	<script src="registration.js"></script>
	<script src="search.js"></script>

	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>
</html>