<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking</title>
	<meta charset="utf-8"/>
	<style>
		.errorMsg {
			color: #ce5858;
		}
	</style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgc06_91-XPMZMnOGQ-IYHVFSyzjQkjfc&callback=initMap&libraries=places&v=weekly"
            defer
    ></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-4.5.1-dist/css/bootstrap.min.css">
</head>
<body>

  <div id="app">
        <ul class="nav nav-tabs" v-bind:class="{collapse: userType !== 'ADMIN'}">
            <li>
                <a class="navbar-brand" href="#/">
                    <img src="pics/logo_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Booking
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#/users">All users</a>
                    <a class="dropdown-item" href="#/register-host">Register host</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/apartments">Apartments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/amenities">Amenities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Apartment comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" data-toggle="modal" data-target="#profileModal">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search apartments</a>
            </li>
            <li>
                <a class="nav-link" href='javascript:;' v-on:click="logout">
                    Logout
                </a>
            </li>
        </ul>

      <ul class="nav nav-tabs" v-bind:class="{collapse: userType !== 'HOST'}">
          <li>
              <a class="navbar-brand" href="#/">
                  <img src="pics/logo_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Booking
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#/apartments">Apartments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Reservations</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Comments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Amenities</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:;" data-toggle="modal" data-target="#profileModal">Account</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Search apartments</a>
          </li>
          <li>
              <a class="nav-link" href='javascript:;' v-on:click="logout">
                  Logout
              </a>
          </li>
      </ul>

      <ul class="nav nav-tabs" v-bind:class="{collapse: userType !== 'GUEST'}">
          <li>
              <a class="navbar-brand" href="#/">
                  <img src="pics/logo_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Booking
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Apartments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Reservations</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:;" data-toggle="modal" data-target="#profileModal">Account</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Search apartments</a>
          </li>
          <li>
              <a class="nav-link" href='javascript:;' v-on:click="logout">
                  Logout
              </a>
          </li>
      </ul>

      <ul class="nav nav-tabs" v-bind:class="{collapse: userType !== 'BROWSE'}">
          <li>
              <a class="navbar-brand" href="#/">
                  <img src="pics/logo_transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Booking
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Search apartments</a>
          </li>
          <li>
              <a class="nav-link" href='javascript:;' data-toggle="modal" data-target="#registerModal">
                  Register
              </a>
          </li>
          <li>
              <a class="nav-link" href='javascript:;' data-toggle="modal" data-target="#loginModal">
                  Login
              </a>
          </li>
      </ul>
      <router-view></router-view>

  </div>



    <div>
	<div class="modal fade" id="loginModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Log in</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"
							v-on:click="resetValidation">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                    <div class="alert alert-danger" role="alert" v-if="loginErr">
                        Username or password are incorrect.
                    </div>
					<div class="form-group">
						<small class="errorMsg">{{userErr}}</small>
						<input id="user" type="text" class="form-control" placeholder="username"
							   data-toggle="tooltip" title="Enter your username" data-placement="right"
							   v-on:focusout="requiredUsername" v-on:keydown="requiredUsername"
							   v-model="user.username">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{passErr}}</small>
						<input id="pass" type="password" class="form-control" placeholder="password"
							   data-toggle="tooltip" title="Enter your password" data-placement="right"
							   v-on:focusout="requiredPassword" v-on:keydown="requiredPassword"
							   v-model="user.password">
					</div>
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox"> Remember me
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
							v-on:click="fetchUser"
							v-bind:disabled="user.username === '' || user.password === ''">Log in</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
							v-on:click="resetValidation">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="registerModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"
							v-on:click="resetValidation">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<small class="errorMsg">{{firstNameErr}}</small>
						<input id="firstName" type="text" class="form-control" placeholder="first name"
							   data-toggle="tooltip" title="Enter first name" data-placement="right"
							   v-on:focusout="reguiredFirstName" v-on:keyup="reguiredFirstName"
							   v-model="user.firstName">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{lastNameErr}}</small>
						<input id="lastName" type="text" class="form-control" placeholder="last name"
							   data-toggle="tooltip" title="Enter last name" data-placement="right"
							   v-on:focusout="requiredLastName"  v-on:keyup="requiredLastName"
							   v-model="user.lastName">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{sexErr}}</small>
						<select id="sex" type="text" class="form-control"
								v-on:focusout="requiredSex"  v-on:keyup="requiredSex"
								v-model="user.sex">
							<option value="" disabled selected>select sex</option>
							<option value="MALE">male</option>
							<option value="FEMALE">female</option>
							<option value="OTHER">other</option>
						</select>
					</div>
					<div class="form-group">
						<small class="errorMsg">{{userErr}}</small>
						<input id="usernameRegister" type="text" class="form-control" placeholder="username"
							   data-toggle="tooltip" title="Enter username" data-placement="right"
							   v-on:focusout="checkUniqueUsername" v-on:keyup="requiredUsername"
							   v-model="user.username">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{passErr}}</small>
						<input id="passwordRegister" type="password" class="form-control" placeholder="password"
							   data-toggle="tooltip" title="Enter password" data-placement="right"
							   v-on:focusout="requiredPassword"  v-on:keyup="requiredPassword"
							   v-model="user.password">
					</div>
					<div class="form-group">
						<small class="errorMsg">{{repeatPassErr}}</small>
						<input id="repeatPasswordRegister" type="password" class="form-control" placeholder="repeat password"
							   data-toggle="tooltip" title="Repeat password" data-placement="right"
							   v-on:focusout="requiredRepeatPassword"  v-on:keyup="requiredRepeatPassword"
							   v-model="user.repeatPassword"
						>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
							v-on:click="registerUser"
							v-bind:disabled="user.username === '' || user.password === '' || user.firstName ==='' || user.lastName === '' || user.sex === '' || user.repeatPassword!== user.password || userErr!==''">Register</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
							v-on:click="resetValidation">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

  <div class="modal fade" id="profileModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Your Account <span class="badge badge-primary">{{user.userType}}</span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          v-on:click="cancelEditing">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div>
                  <div class="container-fluid" v-if="!edit">
                      <div class="row">
                          <div class="col-lg-6">First name</div>
                          <div class="col-lg-6">{{user.firstName}}</div>
                      </div>
                      <br/>
                      <div class="row">
                          <div class="col-lg-6">Last name</div>
                          <div class="col-lg-6">{{user.lastName}}</div>
                      </div>
                      <br/>
                      <div class="row">
                          <div class="col-lg-6">Sex</div>
                          <div class="col-lg-6">{{user.sex}}</div>
                      </div>
                  </div>
                  <div class="container-fluid" v-if="edit">
                      <div class="row justify-content-end" v-if="firstNameErr">
                          <div class="col-lg-8">
                              <small class="errorMsg">First name can only contain characters.</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-4">First name</div>
                          <div class="col-lg-8">
                              <input type="text" class="form-control" v-model="user.firstName"
                              v-on:keyup="validateFirstName">
                          </div>
                      </div>
                      <br/>
                      <div class="row justify-content-end" v-if="lastNameErr">
                          <div class="col-lg-8">
                              <small class="errorMsg">Last name can only contain characters.</small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-4">Last name</div>
                          <div class="col-lg-8">
                              <input type="text" class="form-control" v-model="user.lastName"
                                     v-on:keyup="validateLastName">
                          </div>
                      </div>
                      <br/>
                      <div class="row">
                          <div class="col-lg-4">Sex</div>
                          <div class="col-lg-8">
                              <select class="form-control" v-model="user.sex">
                                  <option>MALE</option>
                                  <option>FEMALE</option>
                                  <option>OTHER</option>
                              </select>
                          </div>
                      </div>
                      <br/>
                      <div class="row">
                          <button class="btn btn-outline-primary col-lg-6" type="button" data-toggle="collapse" data-target="#passChange" aria-expanded="false"
                          v-on:click="passChangeActive = !passChangeActive">
                              Password settings
                          </button>
                      </div>
                      <br/>
                      <div class="collapse row" id="passChange">
                          <div class="card-body border-primary">
                              <div class="row" v-if="currentPassErr">
                                  <div class="col-lg-8">
                                      <small class="errorMsg">Incorrect current password.</small>
                                  </div>
                              </div>
                              <div class="row">
                                  <input type="text" class="form-control" placeholder="Current password"
                                  v-model="user.password"
                                  v-on:focusout="currentPasswordCheck">
                              </div>
                              <br/>
                              <div class="row" v-if="newPassErr">
                                  <div class="col-lg-8">
                                      <small class="errorMsg">Password cannot be empty.</small>
                                  </div>
                              </div>
                              <div class="row">
                                  <input type="text" class="form-control" placeholder="New password"
                                         v-model="newPass"
                                         v-on:keyup="newPasswordCheck">
                              </div>
                              <br/>
                              <div class="row" v-if="matchingPassErr">
                                  <div class="col-lg-8">
                                      <small class="errorMsg">Password doesn't match the previous.</small>
                                  </div>
                              </div>
                              <div class="row">
                                  <input type="text" class="form-control" placeholder="Confirm password"
                                  v-model="repeatPass"
                                  v-on:focusout="matchingPasswordCheck" v-on:keyup="hiddenMatchingPasswordCheck">
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
          </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary"
                          v-if="!edit" v-on:click="editMode">Edit</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                          v-if="edit" v-bind:disabled="firstNameErr || lastNameErr || (passChangeActive &&
                          (currentPassErr || newPassErr || matchingPassErr || hiddenMatchingPassErr
                          || newPass == null || repeatPass == null || user.password == null))"
                          v-on:click="editUser">Save</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                          v-on:click="cancelEditing">Close</button>
              </div>
          </div>
      </div>
  </div>

  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" >
      <div class="toast" style="position: absolute; top: 0; right: 0;" id="editSuccess">
          <div class="toast-header">
              <img src="..." class="rounded mr-2" alt="...">
              <strong class="mr-auto">Bootstrap</strong>
              <small>11 mins ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="toast-body">
              Hello, world! This is a toast message.
          </div>
      </div>
  </div>


<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="bootstrap-4.5.1-dist/js/bootstrap.min.js"></script>
<script src="js/jwt-decode.min.js"></script>
<script src="daterangepicker.js"></script>

<script src="map.js"></script>
<script src="login.js" ></script>
<script src="registration.js" ></script>
<script src="home.js"></script>
<script src="search.js"></script>
<script src="users.js" ></script>
<script src="apartments.js"></script>
<script src="logout.js"></script>
<script src="amenities.js"></script>
<script src="registerHost.js"></script>
<script src="profile.js"></script>
<script src="selectedApartment.js"></script>
<script src="newApartment.js"></script>
<script src="app.js"></script>


<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
    });
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            autoUpdateInput: false,
            autoApply : true,
            locale : {
                format : 'DD/MM/YYYY'
            }
        }, function(start, end, label) {
            let range = {
                'startDate' : start.format('YYYY-MM-DD'),
                'endDate' : end.format('YYYY-MM-DD')
            }
            localStorage.setItem('dateRange', JSON.stringify(range));
            $('input[name="daterange"]').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
        });
    });
</script>
</body>
</html>